[submodule "EYE-BLINK-DETECTION-WITH-OPENCV-AND-DLIB"]
	path = EYE-BLINK-DETECTION-WITH-OPENCV-AND-DLIB
	url = https://github.com/Practical-CV/EYE-BLINK-DETECTION-WITH-OPENCV-AND-DLIB.git
[submodule "Emotion_detector_V1"]
	path = Emotion_detector_V1
	url = https://github.com/KristofferMoevik/Emotion_detector_V1.git
